#conocimiento{
    padding-top: 45px;
    padding-bottom: 80px;
}
.titulo-conocimiento{
    padding: 35px;
}
span{
    font-size: 35px;
    color: #0d6efd;
}
.card:hover{
    background: #0d6efd;
    transition: card 2s ease-out;
}
.card:hover span{
    color: white;
}
.card:hover .card-title{
    color: white;
}
.card:hover .card-text{
    color: white;
}