.mainServicios{
    width: 100%;
    height: 400px;
    background: var(--celesteSec);
    background-position: center;
    background-size:auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.mainServicios h1{
    text-align: center;
    color: white;
    font-size: 80px;
}