.skills{
    width: 100%;
    margin-bottom: 150px;
}
.skills h2{
    text-align: center;
    font-size: 50px;
    color: var(--Amarillo);
    margin-bottom: 80px;
}
.skills div{
    margin-bottom: 80px;
}
.skills div .containerSkills{
    width: 58%;
    margin: auto;
    display: grid;
    grid-gap: 25px;
    gap: 25px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin-top: 40px;
    padding: 15px;
}
.skills div h3{
  text-align: center;
  font-size: 25px;
  color: white;
}
.skills div .containerSkills div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    background: #232530;
    box-shadow: rgb(0 0 0 / 90%) 0px 40px 58px -16px,
    var(--primary) 0px 30px 22px -10px;
}
.skills div .containerSkills div:hover{
    box-shadow: var(--primary) 0px 40px 58px -16px,
    var(--primary) 0px 30px 22px -10px;
}
.skills div .containerSkills div strong{
    text-align: center;
    color: white;
}
.skills div .containerSkills div .iconSkills{
    width: 100%;
    font-size: 50px;
    color: var(--celesteSec);
}
@media screen and (max-width: 960px){
    .skills div .containerSkills{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}